<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>Fonts</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Sendpoint</string>
	<key>CFBundleExecutable</key>
	<string>Sendpoint</string>
	<key>CFBundleIdentifier</key>
	<string>app.sendpoint</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Sendpoint</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.7.1</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSMicrophoneUsageDescription</key>
	<string>Sendpoint records your voice to make a voice note.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://sendpoint.app/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>gejHwycYByGvk5zVcHPlTLDJyD2HbisMErDzgn8qv5U=</string>
	<key>SURequireSignedFeed</key>
	<true/>
	<key>SUSignedFeedFailureExpirationInterval</key>
	<integer>0</integer>
	<key>SUVerifyUpdateBeforeExtraction</key>
	<true/>
</dict>
</plist>
